.card{
    margin-right: 400px;
    width: 80%;

}

.addToCart {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 90%;
    font-size: 18px;
    margin-bottom: 10px;
   
    
  }